.btn {
    cursor: pointer;
    border-radius: 50px;

    &--black {
        background: $black;
        font-size: rem(24);
        line-height: rem(30);
        color: $white;
        box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.4);
    }
    &--black:hover{
        background: $blue;
        transition:all 0.6s;
        
    }
}
